body{
    font-size:16px;
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
}
.mainBody{
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 150px;;
}
img{
    width:100%;
}
a:hover{
    text-decoration: none;
}
ul{
    padding:0;
    margin:0;
}
.mainBody:before{
    content: "";
    top:0;
    left:0;
    width:100%;
    height: 100%;;
    background-color: rgba(28, 28, 28, .56);
    position: absolute;
}
.header{
    padding-top:45px;
}
.logo{
    width: 80px;
    display: block;
    margin-right:30px;
}
.mainHeader li {
 display: inline-block;  
 list-style-type: none;
}
.mainHeader{
    width:100%;
    display: block;
    padding-top: 45px;;
}
.mainMenuItem{
    color:white;
    font-size:.875em;
    padding:10px 0;
    font-weight: 500;;
}
.mainMenuItem:hover{
    color:#E21F3A;
}
.mainLogo{
    margin:auto;
    width:264px;
    margin-bottom: 116px;;
}
.hero{
    margin-top:144px;
}
.heroText{
    font-weight: 600;
    font-size:4.3125em;
    color:white;
    text-align: center;
    margin-bottom: 27px;
}
.hero span{
    height:92px;
    overflow: hidden;
    display: block;
    text-align: center;
    width:560px;
    margin:auto;
    color: white;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.8;
}
.heroBtn{
    margin:auto;
    margin-top:132px;
    width:223px;
    height:53px;
    border-radius: 8px;
    color:white;
    border:1px solid #E21F3A;
    background-color: #E21F3A;
    transition: all .5s;
    display: block;
    font-weight: 500;
    line-height: 43px;
}